* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  min-height: 100vh;
}
.sidebar-carousel-wrapper {
  display: flex;
}
.carousel-wrapper {
  width: 80%;
}
.carousel-1 {
  display: flex;
}
.sidebar {
  position: relative;
  width: 20%;
  border-radius: 3px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  /* margin-top: 20px; */
  /* height: 800px; */
  background-color: #fff;
  padding-left: 30px;
}
.sidebar .categories {
  margin-bottom: 10px;
  margin-top: 20px;
  font-size: 13px;
  display: flex;
  /* margin-left: 10px; */
}
.sidebar .categories h1 {
  font-size: 14px;
  font-weight: 400;
  text-transform: capitalize;
}

.flex {
  align-items: center;
  justify-content: start;
}

.flex h1 {
  font-size: 10px;
}
.sub-category-heading {
  text-align: left;
}
.sub-category-heading .item {
  font-size: 13px;
  font-weight: 400;
  text-align: left;
  transition: all 0.3s;
}
.item:hover {
  color: crimson;
  cursor: pointer;
}

.flex h2 {
  font-size: 14px;
}
.sidebar .flex:hover {
  box-shadow: rgba(41, 48, 48, 0.112) 0px 2px 1px 0px;
}
.sidebar .firstBlock div {
  color: grey;
  display: flex;
  margin-bottom: 10px;
  cursor: pointer;
}
.sidebar .firstBlock .flex {
  /* margin-left: 10px; */
  gap: 10px;
}
.sidebar .firstBlock .flex img {
  border-radius: 20px;
  width: 15%;
}

.sidebar .secondBlock div {
  color: grey;
  display: flex;
  font-size: 14px;
  align-items: center;
  margin-bottom: 10px;
  cursor: pointer;
  transition: all 0.3s;
  /* justify-content: center; */
}
.sidebar .secondBlock div:hover {
  color: crimson;
}
.sidebar .thirdBlock div {
  color: grey;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: all 0.3s;
  /* justify-content: center; */
}
.sidebar .thirdBlock > div:hover {
  color: crimson;
}
.men-navbar {
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
}
/* .men-navbar .column .section :hover {
  cursor: pointer;
} */
.men-navbar h2 {
  margin-top: 10px;
  font-weight: 600;
  font-size: 15px;
  justify-items: baseline;
}
.men-navbar .section .item {
  margin-top: 5px;
}
.men-navbar .column {
  justify-content: baseline;
  gap: 50px;
}
.men-navbar .column > img {
  width: 200px;
  height: 100%;
}
.hover-content.nav-women-content {
  bottom: -410px;
  height: 450px;
}
.hover-content {
  position: absolute;
  bottom: -230px;
  width: 100%;
  background-color: #fff;
  height: 270px;
  /* border: 2px solid red; */
  cursor: pointer;
  z-index: 9999;
}

.hover-content.nav-women-content {
  bottom: -410px;
  height: 450px;
}

.hover-content.nav-girls-content {
  bottom: -320px;
  height: 370px;
}

.hover-content.nav-boys-content {
  bottom: -310px;
  height: 350px;
}
/*  */

/*  */

/*  */
.float-content {
  z-index: 9;
  background-color: #fff;
  position: absolute;
  width: 900px;
  top: 0;
  right: -900px;
  padding: 10px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mySwiper-1 {
  height: 450px;
}
.carousel-1 {
  margin-top: 20px;
  gap: 20px;
}

.carousel-1 .slider-wrapper {
  width: 70%;
}
@media only screen and (max-width: 1400px) {
  .carousel-1 .slider-wrapper {
    margin-left: 40px;
  }
}
@media only screen and (max-width: 1000px) {
  .carousel-1 .slider-wrapper {
    margin-left: 40px;
    width: 100%;
  }
  .sidebar {
    width: 0;
    display: none;

    /* padding: 0;
    margin: 0; */
  }
}
.carousel-2 {
  margin-top: 20px;
  margin-left: 40px;
}
.pincode-card {
  width: 25%;
  height: 100%;
}
.mySwiper-2 {
  height: 300px;
}

.section h2 {
  text-align: left;
  font-size: 12px;
  text-transform: uppercase;
  color: crimson;
  font-weight: 600;
}
