* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.sidebar-carousel-wrapper {
  display: flex;
}
.carousel-wrapper {
  width: 80%;
}
.carousel-1 {
  display: flex;
}
.sidebar {
  position: relative;
  width: 20%;
  margin-top: 20px;
  /* height: 800px; */
  background-color: #fff;
  padding-left: 30px;
}
.sidebar .categories {
  margin-bottom: 10px;
  margin-top: 20px;
  font-size: larger;
  display: flex;
  /* margin-left: 10px; */
}
.sidebar .flex:hover {
  box-shadow: rgba(41, 48, 48, 0.112) 0px 2px 1px 0px;
}
.sidebar .firstBlock > div {
  color: grey;
  display: flex;
  margin-bottom: 10px;
  cursor: pointer;
}
.sidebar .firstBlock .flex {
  /* margin-left: 10px; */
  gap: 10px;
}
.sidebar .firstBlock .flex > img {
  border-radius: 20px;
  width: 15%;
}

.sidebar .secondBlock > div {
  color: grey;
  display: flex;
  margin-bottom: 10px;
  cursor: pointer;
  /* justify-content: center; */
}
.sidebar .secondBlock > div:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.sidebar .thirdBlock > div {
  color: grey;
  display: flex;
  margin-bottom: 10px;
  cursor: pointer;
  /* justify-content: center; */
}
.sidebar .thirdBlock > div:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.men-navbar {
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
}
.men-navbar .column .section :hover {
  cursor: pointer;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.men-navbar h2 {
  margin-top: 10px;
  font-weight: 600;
  font-size: 18px;
  justify-items: baseline;
}
.men-navbar .section .item {
  margin-top: 5px;
}
.men-navbar .column {
  justify-content: baseline;
  gap: 50px;
}
.men-navbar .column > img {
  width: 200px;
  height: 100%;
}
.hover-content.nav-women-content {
  bottom: -410px;
  height: 450px;
}
.hover-content {
  position: absolute;
  bottom: -230px;
  width: 100%;
  background-color: #fff;
  height: 270px;
  /* border: 2px solid red; */
  cursor: pointer;
  z-index: 9999;
}

.hover-content.nav-women-content {
  bottom: -410px;
  height: 450px;
}

.hover-content.nav-girls-content {
  bottom: -320px;
  height: 370px;
}

.hover-content.nav-boys-content {
  bottom: -310px;
  height: 350px;
}
/*  */

/*  */

/*  */
.float-content {
  background-color: rgba(217, 223, 225, 0.237);
  position: absolute;
  width: 900px;
  top: 0;
  right: -900px;
  padding: 10px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mySwiper-1 {
  height: 450px;
}
.carousel-1 {
  margin-top: 20px;
  gap: 20px;
}

.carousel-1 .slider-wrapper {
  width: 70%;
}
@media only screen and (max-width: 1400px) {
  .carousel-1 .slider-wrapper {
    margin-left: 40px;
  }
}
@media only screen and (max-width: 1000px) {
  .carousel-1 .slider-wrapper {
    margin-left: 40px;
    width: 100%;
  }
}
.carousel-2 {
  margin-top: 20px;
  margin-left: 40px;
}
.pincode-card {
  width: 25%;
  height: 100%;
}
.mySwiper-2 {
  height: 300px;
}
